*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: aquamarine;
}
.container{
    background-color: #fff;
    height: 100vh;
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    border: 1px solid aqua;
    height: 500px;
    width: 400px;
    margin-left: 100px;
    margin-top: -50px;
    border-radius: 30px;
    /* flex: 1; */
    
    
    
}
.main{
    background-color: #fff;
    /* height: 100vh; */
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    margin-top: 50px;
    margin-left: 50px;
    border-radius: 25px;
    width: 90%;
    height: 550px;
    border: 1px solid aqua;
}
.main h4{
    margin-left: 100px;
    margin-top: 30px;
}

 
/* img{ */
    /* margin-left: 800px; */
    /* height: 100vh; */
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* margin-top: 300px; */
    /* margin-bottom: 300px; */
    /* width: 100px; */
    /* height: 400px; */
/* } */
/* .container-1 img{
    display: center;
    margin-left: 100px;
    height: 100px;
} */

h3{
    display: flex;
    margin-left: 200px;
    /* margin-bottom: -400px; */
    margin-top: -400px;
}
.input-1{
    height: 50px;
    width: 350px;
    margin-bottom: 20px;
    margin-left: 50px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid aqua;
    
}
.input-2{
    height: 50px;
    width: 350px;
    margin-left: 50px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid aqua;
}
.input-3{
    height: 50px;
    width: 350px;
    margin-top: 40px;
    margin-left: 50px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 10px;
}
.radio{
    margin-top: 10px;
    margin-left: 50px;
    border: 1px solid aqua;
    color: aqua;
}
a{
    margin-left: 80px;
    color: #000;
}
img{
    height: 400px;
    width: 600px;
    margin-top: 50px;
    /* margin-bottom: 200px; */
    margin-left: 600px;
}
@media (max-width: 600px) {
    .input-1{
        height: 50px;
        width: 200px;
        margin-bottom: 20px;
        margin-left: 50px;
        padding: 10px;
        border-radius: 10px;
        border: 1px solid aqua;
        
    }
       
    .input-2{
        height: 50px;
        width: 200px;
        margin-left: 50px;
        padding: 10px;
        
        border-radius: 10px;
        border: 1px solid aqua;    
    

    
}
.input-3{
    height: 50px;
    width: 200px;
    margin-top: 40px;
    margin-left: 50px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 10px;
}
.radio{
    margin-top: 10px;
    margin-left: 50px;
    border: 1px solid aqua;
    color: aqua;
    /* display: block; */
}
.forget{
    display: block;
    margin-top: 10px;
    margin-right: auto;
}
/* .login{
    margin-right: 70px;
    
} */
h3{
    display: flex;
    margin-left: 110px;
    /* margin-bottom: -400px; */
    margin-top: -400px;
    margin-bottom: 20px;
    font-size: 30px;
}




}